.home
	margin-top  60px
	
	&_posts
		// width 700px
		
	.container
		display flex
		justify-content space-between
	
	&_more-posts
		margin auto
		text-align center
		height 100px
		a
			@extends $material
			display inline-block
			font-size 1.3em
			padding 10px 25px
			margin auto
			cursor pointer
			transition color 250ms ease-in-out, background-color 250ms ease-in-out
			
			&:hover
				color white
				background-color darken($blue, 10%)
		
.post
	margin-bottom 50px
	width 740px
	@extends $material
	
	&:first-child
		margin-top 0
	
	&_thumbnail
		text-align center
		
		img
			max-width 640px
			
	&_title
		color #202020
		text-align center
		font-size 2em
		font-weight 400
		margin-top 25px
	
	&_excerpt
		margin 1em auto 2.4em
		width 88%
		text-align center
		font-size 1em
		line-height 1.6em
		font-weight 400
		color #898989
		
	&_button
		position relative
		
		&:before,
		&:after
			content ''
			position absolute
			top 16px
			height 1px
			background #eeeeee
			width 42%
			display block
			
		&:before
			left 0
		&:after
			right 0
			
		& a
			margin 0 auto
			display block
			width 55px
			color $blue
			font-weight 400
			font-size 0.9em
			padding 5px 15px
			border-radius 20px
			border 2px solid $blue
			
			transition background-color 150ms ease, color 150ms ease
			
			&:hover
				color white
				background-color $blue
	
	&_footer
		display flex
		justify-content space-between
		margin-top 25px
		
	&_separator
		border-color #eee
		border-top none
		margin 25px 0 0 0

	&_date
		position relative
		font-weight 400
		font-size 1em
		text-align center
		
		&--large
			font-size 1.5em