// 70877F
// 95D78A
// B1E4B8

.header
	
	&_top
		height 50px
		background-color lighten($blue, 30)
		
		.container
			display flex
			height 50px
			justify-content flex-end
		
	&_links
		margin 0
		padding 0
		list-style none
		display flex
		
		a
			padding 15px 8px
			color #fff
			display block
			font-size 1.2em
		
	&_logo
		margin-top 20px
		background url(../img/logo.png) no-repeat center
		height 250px
		
	&_menu
		height 60px
		border-top 1px solid #ccc
		border-bottom 1px solid #ccc
		margin-top 20px

	&_menu-item
		margin 0
		padding 0
		list-style none
		display flex
		justify-content center
		font-family MerriweatherLight, serif
		font-weight 100
		
		li
			a
				padding 20px
				display block
				color #333
				