// 70877F
// 95D78A
// B1E4B8

.header
	
	overflow hidden
	
	&_top
		height 50px
		background-color lighten($blue, 30)
		
		.container
			display flex
			height 50px
			justify-content flex-end
		
	&_links
		margin 0
		padding 0
		list-style none
		display flex
		
		a
			padding 15px 8px
			color #fff
			display block
			font-size 1.2em
		
	&_logo
		margin 20px 0
		height 250px
		overflow hidden
		&-item
			height 250px
			width 100%
			position fixed	
			z-index -1
			background url(../img/logo.png) no-repeat center
		
	&_menu
		z-index 10
		background-color white
		height 60px
		border-top 1px solid #eee
		box-shadow inset 0 -1px 0 0 #eee

	&_menu-item
		margin 0
		padding 0
		list-style none
		display flex
		justify-content center
		font-family $light
		font-size 1em
		
		li
			transition background-color 250ms ease-in-out
			a
				padding 20px
				display block
				color #333
				
		li:hover
			background-color lighten($blue, 10)
			a
				color white
		
				