.header
	
	&_top
		height 50px
		background-color #36b44a
		
	&_logo
		margin-top 20px
		background url(../img/logo.png) no-repeat center
		height 250px
		
	&_menu
		height 60px
		border-top 1px solid #374fa2
		border-bottom 1px solid #374fa2
		margin-top 20px

	&_menu-item
		margin 0
		padding 0
		list-style none
		display flex
		justify-content center
		font-family MerriweatherLight, serif
		font-weight 100
		
		li
			a
				padding 20px
				display block
				color #36b44a