.sidebar
	
	width 220px
	padding-left 20px
	
	border-left 1px solid #eee
	
	&_socials
		margin 0 0 10px 0
		text-align center
		font-size 2em
		color $blue
		position relative
		
		a
			margin-left 5px
			padding 5px
			
		&:after
			content ''
			position absolute
			bottom 0
			height 1px
			width 100%
			background #eeeeee
			display block
	
	&_header
		margin 0
		font-size 1.1em
		text-align center
		
	&_link
		width 190px
		height 57px
		border-radius 5px
		overflow hidden
		background-size cover
		background-repeat no-repeat
		background-position center
		margin 0 auto 10px
		
		a
			display block
			height 100%