.sidebar
	
	width 260px
	margin 80px 0 0 40px
	padding-left 40px
	
	border-left 1px solid #eee
	
	&_header
		margin 0
		font-size 1.1em
		
	&_link
		width 190px
		height 57px
		border-radius 5px
		overflow hidden
		background-size cover
		background-repeat no-repeat
		background-position center
		margin-top 15px
		
		a
			display block
			height 100%