$green = #36b44a
$blue = #374fa2
$black = #151515
$black2 = #1d1e18

$mainfont = #2f2f2f
$blacker = lighten(desaturate(mix($blue, black, 30%), 80%), 5%)

body
	margin 0
	padding 0
	background-color desaturate(lighten(mix($blue, grey), 90%), 50%)
	// #262626
	color $mainfont
	font-family 'Roboto Slab', serif

.container
	width 1180px
	margin auto
	
a
	text-decoration none
	color inherit