/* font-family: "MerriweatherRegular"; */
@font-face
    font-family: "MerriweatherRegular";
    src: url("fonts/MerriweatherRegular/MerriweatherRegular.eot");
    src: url("fonts/MerriweatherRegular/MerriweatherRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MerriweatherRegular/MerriweatherRegular.woff") format("woff"),
    url("fonts/MerriweatherRegular/MerriweatherRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
/* font-family: "MerriweatherBold"; */
@font-face
    font-family: "MerriweatherBold";
    src: url("fonts/MerriweatherBold/MerriweatherBold.eot");
    src: url("fonts/MerriweatherBold/MerriweatherBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/MerriweatherBold/MerriweatherBold.woff") format("woff"),
    url("fonts/MerriweatherBold/MerriweatherBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
/* font-family: "MerriweatherItalic"; */
@font-face
    font-family: "MerriweatherItalic";
    src: url("fonts/MerriweatherItalic/MerriweatherItalic.eot");
    src: url("fonts/MerriweatherItalic/MerriweatherItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/MerriweatherItalic/MerriweatherItalic.woff") format("woff"),
    url("fonts/MerriweatherItalic/MerriweatherItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
/* font-family: "MerriweatherLight"; */
@font-face
    font-family: "MerriweatherLight";
    src: url("fonts/MerriweatherLight/MerriweatherLight.eot");
    src: url("fonts/MerriweatherLight/MerriweatherLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/MerriweatherLight/MerriweatherLight.woff") format("woff"),
    url("fonts/MerriweatherLight/MerriweatherLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
/* font-family: "MerriweatherBoldItalic"; */
@font-face
    font-family: "MerriweatherBoldItalic";
    src: url("fonts/MerriweatherBoldItalic/MerriweatherBoldItalic.eot");
    src: url("fonts/MerriweatherBoldItalic/MerriweatherBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/MerriweatherBoldItalic/MerriweatherBoldItalic.woff") format("woff"),
    url("fonts/MerriweatherBoldItalic/MerriweatherBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
/* font-family: "MerriweatherLightItalic"; */
@font-face
    font-family: "MerriweatherLightItalic";
    src: url("fonts/MerriweatherLightItalic/MerriweatherLightItalic.eot");
    src: url("fonts/MerriweatherLightItalic/MerriweatherLightItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/MerriweatherLightItalic/MerriweatherLightItalic.woff") format("woff"),
    url("fonts/MerriweatherLightItalic/MerriweatherLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
